@charset "UTF-8";

main {
    height: 450px;
    max-width: 500px;
    box-shadow: 2px 2px 4px #ffffff6d;
}

.botoes{
    position: relative;
    top: 8%;
    left: 50%;
}

.b {
    top: 9%;
    left: 50%;
}

main iframe {
    position: relative;
    display: block;
    border-radius: 20px;
    top: 9%;
    left: 50%;
    box-shadow: 2px 2px 4px #00000047;
    transform: translate(-50%);
}