@charset "UTF-8";

@font-face {
    font-family: 'gemunu';
    src: url(../font/GemunuLibre-Regular.ttf) format('truetype');
    src: url(../font/GemunuLibre-Light.ttf) format('truetype');
    src: url(../font/GemunuLibre-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'tourney';
    src: url(../font/Tourney-Regular.ttf) format('truetype');
    src: url(../font/Tourney-Light.ttf) format('truetype');
    src: url(../font/Tourney-ExtraBold.ttf) format('truetype');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:root{
    --cor0: #222D4A;	/* Main Primary color */
    --cor1: #4C5367;
    --cor2: #323848;
    --cor4: #040F2B;
    --cor3: #111E42;

    --font-padrao: 'gemunu', sans-serif;
    --font-destaque: 'tourney', sans-serif;
}

/*    Mobile First    */
*{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-padrao);
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    background: #040F2B;
}

body::-webkit-scrollbar {
    display: none;
}

header{
    position: fixed top;
    background: linear-gradient(180deg, #4C5367, #040F2B);
    color: aliceblue;
    text-align: center;
    padding: 20px 0px;
}

header > h1{
    font-family: var(--font-destaque);
    font-size: 3em;
    width: max-content;
    margin: auto;
}

header > p{
    padding-top: 10px;
    color: lightskyblue;
}

menu{
    display: none;
    text-align: center;
    background: var(--cor4);
    transition-duration: 1s;
}

menu a{
    display: inline-block;
    width: 100vw;
    color: aliceblue;
    padding: 3px 0px;
    text-decoration: none;
}

menu a:hover{
    background: var(--cor2);
    transition-duration: .2s;
    color: lightskyblue;
}

span#hamburguer{
    display: block;
    background: #222D4A;
    text-align: center;
    cursor: pointer;
    font-size: 1.6em;
}

main{
    display: block;
    background: white;
    margin: auto;
    max-width: 800px;
    height: 77.5vh;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

div.conteudo{
    position: relative;
    height: 100%;
    width: 100%;
}

div.img{
    display: block;
    position: absolute;
    width: max-content;
    margin-top: 10px;
    height: 350px;
    top: 0;
    left: 50%;
    animation: fadeIn 2s;
    transform: translate(-50%);
}

div.introducao{
    display: block;
    position: absolute;
    background-color: #4c53673a;
    border-radius: 10px;
    border: 2px solid #040F2B;
    padding: 15px;
    margin-top: 5px;
    text-align: justify;
    width: 348px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.208);
}

div > img{
    height: 100%;
    border-bottom-left-radius: 38%;
}

.botoes{
    position: absolute;
    width: 300px;
    height: 40px;
    top: 94.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.botoes div{
    width: 110px;
    height: max-content;
    font-size: 1.1em;
    border-radius: 10px;
    padding-bottom: 3px;
    position: absolute;
    border: 2px solid #040F2B;
    background: linear-gradient(to bottom, transparent, #040F2B);
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.208);
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.botaog{
    left: 25%;
}

.botaog:hover{
    background: linear-gradient(to bottom, #4c536729,black);
}

.botaol{
    left: 75%;
}

.botaol:hover{
    background: linear-gradient(to bottom, #4c536729,black);
}

div.botaog > img{
    width: 20px;
    margin-right: 6px;
    transform: translate(0%, 15%);
}

div.botaol > img{
    width: 20px;
    margin-right: 6px;
    transform: translate(0%, 15%);
}

footer{
    position: fixed bottom;
    width: 100vw;
    background: linear-gradient(180deg, #4C5367, #040F2B);
    color: aliceblue;
    text-align: center;
    font-size: .7em;
    padding: 1px 0px;
}